<!-- String Interpolation -->
<h1 [class.text-red]="bool">{{ message }}</h1>
<!-- Property Binding -->
<!-- <img src="{{ imgUrl }}" alt="" /> -->
<!-- Cleaner Code -->
<!-- <img [src]="imgUrl" alt="" /> -->

<!-- Style Binding -->
<h1 [style.color]="bool ? 'red' : 'blue'">Style Binding</h1>

<!-- Event Binding -->
<button (click)="buttonClick()">Click me</button>

<!-- Event filtering -->
<!-- <input type="text" (keyup)="onKeyup($event)"> -->
<!-- <input type="text" (keyup.enter)="onKeyup()"> -->

<!-- Template Variable -->
<!-- <input type="text" (keyup.enter)="onKeyup(usename.value)" #usename /> -->

<!-- Two ways data binding. -->
<input type="text" [(ngModel)]="userName" (keyup.enter)="onKeyup()" />
