<!-- Uppercase pipe -->
<h1>{{ title | uppercase }}</h1>
<!-- Lowercase pipe -->
<h1>{{ title | lowercase }}</h1>
<!-- Number -->
<h1>{{ count | number }}</h1>
<!-- Decimal pipe format x.xx -->
<h1>{{ dcValue | number : "1.2-2" }}</h1>
<!-- Decimal pipe format xx.xx -->
<h1>{{ dcValue | number : "2.2-2" }}</h1>
<!-- Currency Pipe -->
<h1>{{ price | currency : "JPY" }}</h1>
<h1>{{ price | currency : "JPY" : false }}</h1>
<h1>{{ price | currency : "JPY" : false : "2.1-1" }}</h1>
<!-- Date Pipe https://angular.io/api/common/DatePipe -->
<h1>{{ today | date : "short" }}</h1>
<h1>{{ today | date : "shortDate" }}</h1>
<!-- JSON Pipe -->
<p>{{ postObj | json }}</p>
<!-- Percent Pipe *100 -->
<h3>{{ 0.567 | percent }}</h3>
<h3>{{ 5 | percent : "1.1-1" }}</h3>
<!-- Slice Pipe -->
<h3>{{ postArray | slice : 0 : 3 }}</h3>
<!-- Custom pipe -->
<!-- <h3> City Name - {{ userDetail.city }}</h3> -->
<h3> {{ userDetail.city | append }}</h3>
<!-- Custom pipe CLI -->
<h3> {{ userDetail.city | appendCLI }}</h3>
<!-- Custom pipe with aggruments -->
<p>{{ dummyText | summary : 10 }}</p>
