<div class="container mt-5">
  <div class="form-area">
    <h1>Reactive form</h1>
    <form [formGroup]='form' (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>First Name</label>
        <input
          type="text"
          placeholder="Full name"
          class="form-control"
          name="fullName"
          formControlName="fullName"
        />
        <div
          class="alert alert-danger"
          *ngIf="fullname.touched && fullname.invalid"
        >
          <div *ngIf="fullname.errors?.required" >Required</div>
          <div *ngIf="fullname.errors?.minlength" >Length</div>
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          placeholder="Email"
          class="form-control"
          name="email"
          formControlName="email"
        />
        <div
          class="alert alert-danger"
          *ngIf="Email.touched && Email.invalid"
        >
          <div *ngIf="Email.errors?.required" >Required</div>
          <!-- <div *ngIf="Email.errors?.pattern" >Pattern</div> -->
          <div *ngIf="Email.errors?.email" >Pattern</div>
        </div>
      </div>
      <div class="form-group">
        <label>Address</label>
        <textarea
          cols="30"
          rows="10"
          placeholder="Address"
          class="form-control"
          name="address"
          formControlName="address"
        ></textarea>
        <div
          class="alert alert-danger"
          *ngIf="Address.touched && Address.invalid"
        >
          <div *ngIf="Address.errors?.required" >Required</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
    </form>
  </div>
</div>
